body {
  
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .logo img {
    width: 100px;
    height: auto;
   
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  
  .hero {
    text-align: center;
    padding: 40px;
    background-color: #f8f8f8;
  }
  
  .hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
    transition: all .5s ease;
    
  }
  .hero h1:hover{
    color:chocolate;
    text-shadow: 10px 10px 10px ;
  }
  
  .hero h2 {
    font-size: 24px;
    color: #777;
    margin-bottom: 40px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    
  }
  .cta-button:hover{
    background-color:brown ;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    margin-top: 445px
  
  }
  
  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  footer ul li {
    margin: 0 10px;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .social-media-icons {
    margin-top: 10px;
  }
  .b{
    text-align: center;
    font-size: 40px;
    color: brown;
  }